body {
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #333;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
