*{
  height:100%;
}

body{
  marign:0;
  padding: 0;
  background-color:black;
}


.carry{
  background-color:red;
  max-width: 100%;
  max-height: 80%;
}

body{
  margin:0;
  padding:0;
  background-color:black;
}

.scrolDown{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 50px;
}

.scrolDown:before{
  content: ' ';
  position: absolute;
  left:-10px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform:rotate(-45deg);
}

.scrolDown:after{
  content: ' ';
  position: absolute;
  top:0;
  left:-6px;
  width: 2px;
  height: 50px;
  background-color:#fff;
  animation: animate 2s linear infinite;
}

@keyframes animate
{
  0%
  {
    transform-origin:top;
    transform:scaleY(0)
  }
  45%
  {
    transform-origin:top;
    transform:scaleY(1)
  }
  55%
  {
    transform-origin:bottom;
    transform:scaleY(1)
  }
  100%
  {
    transform-origin:bottom;
    transform:scaleY(0)
  }
}

p{
  position: absolute;
  text-align: center;
  width: 120px;
  transform: translate(-50%, 70px);
  text-transform: uppercase;
  color:#fff;
  font-weight: bold;
}

/*.containment{
  display: inline-block;
}

.text{
  font-size: 5em;
  letter-spacing:10px;
  font-family: monospace;
  border-right: 5px solid;
  white-space:nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(12),
    cursor .4s step-end infinite alternate;
}
/*cursor blinking*/
/*@keyframes cursor{
  50%{ border-color: transparent;}
}

@keyframes typing{
  from{width:8}
}*/
  
